/*
 * Working Webpack Example
 * Author: Paul Murdoch;
 * 
 */

@import '_variables';
@import '_reset';
@import '_github_fork';

html {
	margin: 0px;
}

body {
	background-color: $background;
	margin: 0;
	border-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	button {
		padding: 6px 20px;
		background-color: #fff;
		margin: 0 auto;
		display: block;
		border: none;
		box-shadow: none;
	}
	p, h1 {
		color: $text__color;
	}
	h1 {
		font-size: 4em;
		margin-top: 200px;
		text-align: center;
	}
	p.top-text {
		font-size: 1.6em;
	}
	p {	
		text-align: center;
		margin-top: 80px;
	}
	a {
		color: $text__color;
		text-decoration: none;
	}
	p.author-text {
		text-align: center;
		bottom: 0;
		position: absolute;
		transform: translate(-405px);
		margin-left: 50%;
	}
	.container {
		width: 1024px;
		margin: 0 auto;
		display: block;
	}
}

